<div>
  <pre>
    <table>
      <tr><td>Type : Document(tex)</td></tr>
      <tr><td>Author : <%= clam.options[:originator] %></td></tr>
      <tr><td colspan='2'><a href='test'>Open this document</a></td></tr>
    </table>
  </pre>
</div>
