<pre>
    <div class="container-fluid">
      <div class="row">
	<div class="col-md-6">
	  Start : <%= clam.date.strftime("%Y/%m/%d %T") %><br>
	  <br>
	  End : <%= clam.date.strftime("%Y/%m/%d %T") %><br>
	</div>
	<div class="col-md-2">
	  <br>
	  Total : *****
	</div>
      </div>
      <a href='test'>Toggl Link</a>
    </div>
</pre>
