version: '2'
services:    
  db:
    container_name: db
    image: postgres
    expose:
      - "5432"
      
  web:
    container_name: camome
    build: .
    command: bundle exec rails s -p 3000 -b 0.0.0.0
    ports:
      - "3000:3000"
    links:
      - redis
      - db

  redis:
    container_name: redis
    image: redis
    expose:
      - "6379"
    volumes:
      - ./redis:/data
    command: redis-server --appendonly yes