<h1>Organize to missions</h1>
<div class="row">
  <!-- <div class="col-lg-3"> -->
  <!--   <table class="missions table table-hover table-bordered table-condensed table-treegrid"> -->
  <!--     <thead> -->
  <!--       <tr> -->
  <!--         <th>Missions</th> -->
  <!--       </tr> -->
  <!--     </thead> -->
  <!--     <tbody> -->
  <!--       <tr> -->
  <!--         <td class="droppable-mission-for-mission selected" id="nil">Inbox</td> -->
  <!--       </tr> -->
  <!--       <tr> -->
  <!--         <td class="droppable-mission-for-mission" id="0">Root missions</td> -->
  <!--       </tr> -->
  <!--       <%# @root_missions.each do |mission| %> -->
  <!--         <%#= render :partial => "missions/tree_grid_item_in_organize", -->
  <!--             :locals => {:mission => mission, :unfold_task => false, :at => :mission} %> -->
  <!--       <%# end %> -->
  <!--     </tbody> -->
  <!--   </table> -->
  <!-- </div> -->
  <div class="col-lg-6">
    <table
       id="table"
       data-class="table table-hover table-bordered table-condensed"
       data-toggle="table"
       data-height="500"
       data-striped="true"
       data-click-to-select="true">
      <thead>
        <tr>
          <th data-field="state" data-checkbox="true"></th>
          <th data-field="title">Title</th>
          <th data-field="date">Date</th>
        </tr>
      </thead>
      <tbody class="event-inbox">
        <% @events.each do |event| %>
          <%= render :partial => "inbox/inbox_item", :locals => {:event => event} %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
