<h1>Welcome camome <i class="fa fa-child" aria-hidden="true"></i><i class="fa fa-child" aria-hidden="true"></i><i class="fa fa-child" aria-hidden="true"></i>
</h1>
<p> GitHub: <%= link_to "https://github.com/nomlab/camome", "https://github.com/nomlab/camome" %> <p>
