<div id="external-calendars">
  <% calendars["items"].each do |c| %>
  <div>
	<input type="checkbox" value=<%= c["id"]%> class="event_view_switch" checked><font color=<%= c["background_color"] %>><%= c["summary"] %></font>
  </div>
  <% end %>
<div align="right">
  <%= link_to "他のカレンダーをインポート",
      :controller => "calendars",
      :action => "import"
  %>
</div>
</div>
