<div id="external-events">
<% User.current.calendars.each do |c| %>
  <div>
  <font color=<%= c.color %>>■</font><%= c.displayname %>
  </div>
<% end %>
<div align="right">
  <%= link_to "他のカレンダーをインポート",
      :controller => "calendars",
      :action => "import"
  %>
</div>
</div>
