<div id="createEventModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New Event</h4>
      </div>
      <div class="modal-body">
        <form id="createEventForm" class="modal-body">
          <div class="input-group">
            <label class="control-label" for="inputSummary">Summary:</label>
            <div class="controls">
                <input type="text" name="eventSummary" id="eventSummary" tyle="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source="[&quot;Value 1&quot;,&quot;Value 2&quot;,&quot;Value 3&quot;]">
                  <input type="hidden" id="eventStartTime"/>
                  <input type="hidden" id="eventEndTime"/>
                  <input type="hidden" id="eventAllDay" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="when">When:</label>
            <div class="controls controls-row" id="when" style="margin-top:5px;">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button type="submit" class="btn btn-primary" id="submitButton">Save</button>
      </div>
      </div>
    </div>
  </div>
</div>
