<!DOCTYPE html>
<h1>Calendar</h1>
<%= render :partial => "events/side_menu" , :locals => {:events => @events, :point_event => @point_event} %>
<%= render :partial => "events/create_form_of_modal" %>
<div id="calendar"></div>

<div id="recurrence_list">
  <table class="recurrence" cellspacing="0px">
    <tr>
      <th>Recurrrences</th>
    </tr>
  </table>

  <div class="recurrence-form">
    <textarea id="recurrence-title"/></textarea><br/>
<input id="create-recurrence" type="button" value="Create Recurrence" />
</div>
<div class="recurrence-view">
  <div id="recurrences">
    <%= render :partial => "recurrence", :collection => @recurrences%>
  </div>
</div>
</div>

<script type="text/javascript">
  function escapeHTML(s){
  return $('<div>').text(s).html();
    }

    $(function(){
    $("#create-recurrence").click(function(){
    var title = $("#recurrence-title").val();
    var request = $.ajax({
    type: "POST",
    url: "/events/create_recurrence",
    data: {
    name: title
    },
    success: function(obj){
      //通信が成功した場合の処理
      if(obj.error){
        var html = "";
        $(obj.error).each(function(){ html += this[1] + "<br />"; });
      //  $("#post_status").text(html).css(color, "red");
      }else if(obj.success){
      //  $("#post_status").text("正常に登録しました").css(color, "green");
        $("#recurrences").append(obj.html);
      }

    }
    });
    return false;
    });
    });
</script>

