<h2>Input your password</h2>

<%= form_tag('/events/set_token', method: "POST") do %>
  <div class="field">
    <%= label_tag "Input password" %><br />
    <%= password_field_tag "password" %>
  </div>

  <div class="actions">
    <%= submit_tag "Continue" %>
  </div>
<% end %>
