// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recurrence.calendar {
  width: 19%;
  float: right;
}

.date{
  font-size: 20px;
}

.side-menu.calendar{
  width: 19%;
  float: left;
  display: none;
}

.weekly{
}

.monthly{
  display: none;
}

.yearly{
  display: none;
}

.event-form-key {
  padding: 0.4em 1em 0.4em 0em;
}

.event-form-val {
  padding: 0.4em 0em;
}

.modal-repeat {
  width:450px;
  margin-left: 75px;
}
