// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recurrence.calendar {
  width: 19%;
  float: right;
}

.date{
  font-size: 20px;
}

.side-menu.calendar{
  width: 20%;
  float: left;
  padding: 4px;
  margin: 3px 0 0 0;
  border: 1px solid #000000;
  display: none;

}
