// Place all the styles related to the missions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar-icon{
  padding: 0 0 2px 0;
  cursor: pointer;
}

.missions-table{
    width: 19%;
    float: left;
}

.clams-table{
    width: 80%;
    float: right;
    height: 580px;
}

#calendar.mini-calendar {
    position: relative;
    width: 40%;
    margin: 0 auto;
    font-size: 10px;
}

#calendar .fc-event{
    cursor: pointer;
}

.fixed td{
  font-weight: bold;
}

.search-icon{
  cursor: pointer;
}

.checkbox-caption{
  margin-right: 15px;
}

.ct-selected{
  width: 3%;
}

.ct-summary{
  width: 40%;
}

.ct-originator{
  width: 34%;
}

.ct-date{
  width: 20%;
}

.ct-icon{
  width: 3%;
}
