<div class="clams-table">
  <table <%= inbox_classes %>>
    <thead>
      <tr>
        <th data-checkbox="true"></th>
        <th date-field="summary" data-sortable="false">title</th>
        <th date-field="date" data-sortable="true">date</th>
      </tr>
    </thead>
    <tbody>
      <% if clams.present? %>
      <% clams.each do |clam| %>
      <tr class="draggable-clam">
        <td></td>
        <td><%= clam.summary %></td>
        <td><%= clam.date %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
