<div id="create-mission-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New Mission</h4>
      </div>
      <div class="modal-body">
        <form id="create-mission-form" class="modal-body">
          <p><b>summary</b></p>
          <input type="text" id="mission-summary" class="form-control">
          <p><b>description</b></p>
          <input type="text" id="mission-description" class="form-control">
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button type="submit" class="btn btn-primary" id="submitRecurrenceButton">Save</button>
      </div>
    </div>
  </div>
</div>
