<div id="create-event-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New Event</h4>
      </div>
      <div class="modal-body">
        <form id="create-event-form">
          <p><b>summary</b></p>
          <input type="text" id="event-summary" class="form-control" style="width:200px;" />
          <br>
          <p><b>date</b><p>
          <input type="text" id="event-dtstart" class="form-control" style="width:150px; display:inline;" /> 〜 <input type="text" id="event-dtend" class="form-control" style="width:150px; display:inline;" />
          <input type="hidden" id="event-allday" />
          <br><br>
          <p><b>Mail</b></p>
          <p class="mail">&nbsp;&nbsp;</p>
          <p><b>Description</b></p>
          <textarea id="event-description" class="form-control"></textarea>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button type="submit" class="btn btn-primary" id="submit-button">Save</button>
      </div>
    </div>
  </div>
</div>
