<div class="missions-table">
  <table
     id="table"
     date-class="table table-hover table-bordered table-condensed"
     data-toggle="table"
     data-height="500">
    <thead>
      <tr>
        <th><i class="fa fa-inbox fa-lg"></i> Missions </th>
      </tr>
    </thead>
    <tbody>
      <tr class="mission">
	<td>&nbsp&nbsp<i class="fa fa-folder-o fa-lg"></i> 研究関連 </td>
      </tr>
      <tr class="mission">
	<td>&nbsp&nbsp<i class="fa fa-folder-o fa-lg"></i> 講義 </td>
      </tr>
      <tr class="mission">
	<td>&nbsp&nbsp<i class="fa fa-folder-o fa-lg"></i> 幹事 </td>
      </tr>
      <tr class="mission">
	<td>&nbsp&nbsp<i class="fa fa-folder-o fa-lg"></i> 研究学会 </td>
      </tr>
    </tbody>
  </table>
</div>
