<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            Personal settings
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/users/edit/profile">Profile</a></li>
            <li><a href="/users/edit/applications">Applications</a></li>
        </ul>
    </div>
</div>
